{% extends 'homepagw/home' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../staticfiles/images/login/icon.png">
    <title>Login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <form method="post">
        <header>
            <h1>Login</h1>
            <nav>
                <ul>
                    <li><a href="../homepage/index.html">Inicio</a></li>
                    <li><a href="../homepage/productos.html">Catálogo</a></li>
                    <li><a href="../homepage/ofertas.html">Ofertas</a></li>
                    <li><a href="../homepage/contacto.html">Contacto</a></li>
                    <li><a href="../homepage/login.html">Login</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="formatoLogin">
            <div class="titulo">
                <h2>Login</h2>
            </div>

            <div class="fotoUsuario">
                <img src="../staticfiles/images/login/agregarUsuario.png" alt="Agregar Usuario">
            </div>
            {% csrf_token %} 
            <div class="datoUsuario">
                <input type="text" name="username" id="username" placeholder="Ingrese su Usuario">
            </div>

            <div class="datoPassword">
                <input type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
            </div>

            <div class="btValidacion">
                <button type="submit">Iniciar Sesión</button>
            </div>

            <!-- enlaces del negocio -->
            
            <div class="helpLinks">
                <a href="recuperarUsuario.html">Soy nuevo cliente</a>
                <a href="recuperarPassword.html">Olvidé mi Contraseña</a>
            </div>
        </section>

        <footer>
            <div class="redes-sociales">
                <a href="#"><img src="../staticfiles/images/login/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="../staticfiles/images/login/whatsapp.png" alt="WhatsApp"></a>
                <a href="https://www.facebook.com/people/MTA-El-Portal-De-La-Moda/100090363232444/?mibextid=ZbWKwL"><img src="../img/iconos/icon/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../staticfiles/images/login/ubicacion.png" alt="Ubicación"></a>
                <a href="#"><img src="../staticfiles/images/login/horario.png" alt="Horario"></a>
                <a href="#"><img src="../staticfiles/images/login/telefono.png" alt="Teléfono"></a>
            </div>
            <p>&copy; El portal de la moda. Todos los derechos reservados.</p>
        </footer>

    </form>
</body>
</html>
