/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Encabezado */
header {
    background-color: #1b5583;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* Estilos para la sección de ofertas */
.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

/* Estilos para los productos en oferta */
.producto-oferta {
    background-color: #ffd700; /* Fondo amarillo para destacar la oferta */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.producto-oferta img {
    border-radius: 5px;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    margin-top: 10px; /* Añade margen en la parte superior para centrar verticalmente */
}

.imgProducto {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.producto-oferta h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #333; /* Color de texto más oscuro */
}

.precio-oferta {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c; /* Color de precio de oferta */
}

.precio-original {
    font-size: 14px;
    color: #888;
    text-decoration: line-through;
}

/* Pie de página */
footer {
    background-color: #1b5583;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Redes sociales en el pie de página */
.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
}

/* Imágenes de redes sociales */
.redes-sociales img {
    max-width: 30px;
    vertical-align: middle;
}