/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Encabezado */
header {
    background-color: #1b5583;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Barra de navegaci칩n */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

/* Formulario de registro */
.registro-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.registro-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.registro-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-form button {
    background-color: #1b5583;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.registro-form button:hover {
    background-color: #ffd700;
}

/* Pie de p치gina */
footer {
    background-color: #1b5583;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Redes sociales en el pie de p치gina */
.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
}

/* Im치genes de redes sociales */
.redes-sociales img {
    max-width: 30px;
    vertical-align: middle;
}