/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Encabezado */
header {
    background-color: #1b5583;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

/* Sección de ventas */
.ventas {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ventas h2 {
    font-size: 20px;
    margin: 0 0 20px;
}

/* Filtro */
.filtro {
    margin-bottom: 20px;
}

.filtro label {
    font-weight: bold;
}

.filtro select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Tabla de ventas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* Pie de página */
/* Pie de página */
footer {
    background-color: #1b5583;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Redes sociales en el pie de página */
.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
}

/* Imágenes de redes sociales */
.redes-sociales img {
    max-width: 30px;
    vertical-align: middle;
}
