{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/productos.css' %}" rel="stylesheet" type="text/css">
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <header id="header">
        <h1>Eleven Store</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' % }"> Inicio</a></li>
                <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
                <li><a href="{% url 'ofertas' %}">Ofertas</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href=" {% url 'login' %} ">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="contenedor" class="contenedor">
        <div>
            <img src="/staticfiles/images/Chumpa Gris.jpg" alt="producto 1">
            <div class="informacion">
                <p>Producto 1</p>
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Chumpa Negra.jpg" alt="producto 2">
            <div class="informacion">
                <p>Producto 2</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/gorra.jpg" alt="producto 3">
            <div class="informacion">
                <p>Producto 3</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Gorras.jpg" alt="producto 4">
            <div class="informacion">
                <p>Producto 4</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Paltalon de lona 2.jpg" alt="producto 5">
            <div class="informacion">
                <p>Producto 5</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Paltalon de lona.jpg" alt="producto 6">
            <div class="informacion">
                <p>Producto 6</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Paltalon negro.jpg" alt="producto 7">
            <div class="informacion">
                <p>Producto 7</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Polo 1.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Polo 2.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Polo 3.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Sueter celeste.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/sueter verde.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Chumpa nueva.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Maniki 1.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Maniki 2.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Maniki 3.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Maniki 4.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Maniki 5.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div><div>
            <img src="/staticfiles/images/Pants.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Zapatos.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/staticfiles/images/Zapatos 2.jpg" alt="producto 8">
            <div class="informacion">
                <p>Producto 8</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="redes-sociales">
            <a href="#"><img src="/staticfiles/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/staticfiles/icons/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com/people/MTA-El-Portal-De-La-Moda/100090363232444/?mibextid=ZbWKwL"><img src="/staticfiles/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/staticfiles/icons/ubicacion.png" alt="Ubicación"></a>
            <a href="#"><img src="/staticfiles/icons/horario.png" alt="Horario"></a>
            <a href="#"><img src="/staticfiles/icons/telefono.png" alt="Teléfono"></a>
        </div>
        <p>&copy; Eleven Store. Todos los derechos reservados.</p>
	</footer>

    <script src="app.js"></script>
</body>

</html>